*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.badge {
    position: absolute;
    margin-right: 0.75rem;
    top: 0.3rem;
    font-weight: 400;
    font-size: 0.5rem;
}

.card {
    border: 1px solid rgba(16, 30, 70, 0.51);
    border-radius: .5rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: rgba(0, 123, 255, .25);
    border-color: #dee2e6 #dee2e6 #fff;
}

.table th {
    padding: 0.1rem !important;
}

.navigation {
    height: 7vh;
}

.main {
    height: 93vh;
}

.login-wrapper .form-control {
    box-shadow: none;
}

.newOrder {
    height: 100%;
    margin: 0% !important;
}

.button-checkout-padd {
    padding: 2px 5px;
}

.button-add-edit-case {
    padding: 1px 5px;
    margin-bottom: 3px;
}

.table td {
    padding: 0.1rem;
    /* text-align: left; */
}

.table th {
    padding: 0.4rem;
}

.grid_padding {
    padding: 0% !important;
}

.newOrder_container {
    height: 100%;
    background-color: rgba(128, 128, 128, 0.24);
}

.newOrder_button {
    height: 100%;
}

.play,
.pause {
    width: 75px;
    height: 75px;
}

.play,
.pause:focus {
    outline: 0;
}

.timecontainer {
    background-color: #fff;
    border: 1px solid #808080;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.playbtn {
    position: relative;
    outline: 0;
}

.btn-focus:focus {
    outline: 0;
}

#tym {
    color: #4483ce;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin-bottom: 0 !important;
}

#ct {
    color: #a9a9a9;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0 !important;
}

.details {
    padding: 0% !important;
}

.alertSuccessOrder {
    position: fixed;
    width: 500px;
    z-index: 9999;
    top: 0;
    left: 27%;
    transform: translateX(27%);
    margin-top: 4px;
    text-align: center;
}

.mainCont {
    min-height: 500px;
}

.card-body {
    padding: 10px;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -1.25rem;
    right: -1rem;
    opacity: 0.4;
    font-size: 5rem;
}

.list {
    margin-bottom: 0;
}

.list-item {
    text-decoration: none;
    list-style: none;
    margin: 0 20px;
}

img {
    max-width: 100%;
}

.filestab-overflow {
    height: 100px;
    overflow: auto;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

.inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
}

.top_spac {
    margin: 20px 0 0;
}

.recent_heading {
    float: left;
    width: 40%;
}

#nav-design {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

.chat_img {
    float: left;
    width: 11%;
}

.chat_people {
    overflow: hidden;
    clear: both;
}

.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
}

.inbox_chat {
    height: 400px;
    overflow-y: scroll;
}

.active_chat {
    background: #ebebeb;
}

.incoming_msg_img {
    display: inline-block;
    width: 6%;
}

.received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received_withd_msg {
    width: 57%;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.mesgs {
    float: left;
    padding: 30px 15px 0 25px;
    width: 100%;
}

.sent_msg {
    float: right;
    width: 46%;
}

.sent_msg p {
    background: #05728f none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
}

.outgoing_msg {
    overflow: hidden;
    margin: 26px 0 26px;
}

.input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.input_msg_write input:focus {
    outline: 0;
}

.type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.msg_send_btn_spinner {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

.msg_send_btn:focus {
    outline: 0;
}

.msg_send_btn_spinner:focus {
    outline: 0;
    pointer-events: none;
}

.mesgs {
    margin: auto;
    padding: 30px 15px 0 25px;
    width: 65%;
}

.messaging {
    padding: 0 0 50px 0;
}

.msg_attachment_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 40px;
    top: 11px;
    width: 33px;
}

.msg_attachment_btn:focus {
    outline: 0;
}

.write_msg {
    padding-right: 80px;
}

#myAttachment {
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
}

.designPrefCard {
    padding: 0.5rem 0.5rem;
}

.designPrefCardItem {
    padding: 0.5rem 0.5rem;
}

.despListHeight {
    height: 50px !important;
}

.msg_history {
    height: 150px;
    overflow-y: auto;
}

.brand-wrapper {
    text-align: center;
    padding-top: 7px;
    padding-bottom: 8px;
}

.brand-wrapper .logo {
    height: 100px;
}

.login-section-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
    padding: 0 100px;
    background-color: #fff;
}

@media (max-width: 991px) {
    .login-section-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 575px) {
    .login-section-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 100vh;
    }
}

.login-wrapper {
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
}

.login-wrapper label {
    font-size: 14px;
    font-weight: bold;
    color: #b0adad;
}

.login-wrapper .form-control {
    border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 9px 5px;
    min-height: 40px;
    font-size: 18px;
    font-weight: normal;
}

.login-wrapper .form-control::-webkit-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-moz-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control:-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::-ms-input-placeholder {
    color: #b0adad;
}

.login-wrapper .form-control::placeholder {
    color: #b0adad;
}

.login-wrapper .login-btn {
    padding: 13px 20px;
    background-color: #fdbb28;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
}

.login-wrapper .login-btn:hover {
    border: 1px solid #fdbb28;
    background-color: #fff;
    color: #fdbb28;
}

.login-wrapper a.forgot-password-link {
    color: #080808;
    font-size: 14px;
    text-decoration: underline;
    margin-bottom: 54px;
    float: right;
}

@media (max-width: 575px) {
    .login-wrapper {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .login-wrapper a.forgot-password-link {
        margin-bottom: 16px;
    }
}

.login-wrapper-footer-text {
    font-size: 16px;
    color: #000;
    margin-bottom: 0;
    text-align: center;
}

.login-title {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.login-img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
}

.text-reset {
    color: #0aa7e0 !important;
    font-weight: 700;
}

.bold {
    margin-bottom: 0 !important;
}

.blank_row {
    height: 10px !important;
    background-color: #fff;
}

.font_size {
    font-size: x-large;
}

.download_icon {
    cursor: pointer;
}

.download_icon:hover {
    color: #28a745;
}

#filePost {
    background-color: #a21d1d96;
    color: #fff;
    width: 100%;
}

#myFileAttachement {
    background-color: #a21d1d96;
    color: #fff;
    width: 100%;
    padding: 4px;
}

#sendFileAttachement {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.selectFileStyle {
    padding: 0;
}

.w-auto {
    width: auto;
    font-size: 1.1rem;
    padding: 0px 5px;
    color: #007bff;
}

.custom-spinner {
    display: inline-block;
    color: #fff;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.1em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: custom-spinner 0.75s linear infinite;
    animation: custom-spinner 0.75s linear infinite;
}

.custom-spinner-message {
    display: inline-block;
    color: #ffff;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.1em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: custom-spinner 0.75s linear infinite;
    animation: custom-spinner 0.75s linear infinite;
}

.custom-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.custom-sr-only-message {
    position: absolute;
    width: 3px;
    height: 3px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.display-none {
    display: none;
}

@-moz-keyframes custom-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes custom-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes custom-spinner {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes custom-spinner {
    100% {
        transform: rotate(360deg);
    }
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.searchBy {
    max-height: 35px;
}

.searchBox {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.searchBox[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

#text-checkout-iosqc {
    font-size: smaller;
    color: red;
}

#text-checkout-designer {
    font-size: smaller;
    color: red;
}

#text-checkout-final {
    font-size: smaller;
    color: red;
}

#text-return-designer {
    font-size: smaller;
    color: red;
}


/* .searchSubmit[type=submit] {
    background-color: DodgerBlue;
    height: 35px;
    color: #fff;
} */

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    max-height: 250px;
    width: 400px;
    overflow-y: scroll;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}