
h5
  | Authentication is success. Redirecting to homepage . . .

script.
    sessionStorage.setItem('UserDetails', !{JSON.stringify(userProfiles)});
    sessionStorage.setItem('token', !{JSON.stringify(jwtToken)});
    sessionStorage.setItem('config', !{JSON.stringify(config)});
    sessionStorage.setItem('masterConfig', !{JSON.stringify(masterConfig)});
    sessionStorage.setItem('statusConfig', !{JSON.stringify(statusConfig)});
    window.location.href = '/home';
