.container
  div
    #alertSucOrder
    .card.mainCont
      .card-header.d-flex.justify-content-between
        p#ordersOnHandNil.font-weight-bold.bold
        ul#saveButton.justify-content-between.list
          li.list-item
            button#checkoutBut.button-checkout-padd.btn-Save.btn.btn-primary(type='button') Checkout
            #checkout-for-iosqc.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#staticBackdropLabel.modal-title Checkout
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    #saveformtag.form-group
                      label.col-form-label(for='qcratingorder') QC rating:
                      select#qcratingorder.custom-select
                        option(selected='' value='' disabled='') Select Qc rating
                        option(value='Good') Good
                        option(value='Manageable') Manageable
                        option(value='Bad') Bad
                      label#holdreasonpart.col-form-label(for='qcreason' style="display:none") Hold Reason:
                      select#qcreason.custom-select(style="display:none")
                      label.col-form-label(for='message-text') Comments:
                      textarea#message-text.message-text-checkout-iosqc.form-control(required='' value='')
                  .modal-footer
                    #text-checkout-iosqc
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#save-checkout-for-iosqc.btn.btn-primary(type='button') Checkout
            #checkout-for-designer.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#staticBackdropLabel.modal-title Checkout
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    #saveformtag.form-group
                      label.col-form-label(for='correctionsDes') Corrections Done :
                      select#correctionsDes.custom-select
                        option(value='Y') Yes
                        option(value='N' selected='') No
                      label.col-form-label(for='toolUsed') Tool Used :
                      select#toolUsed.custom-select
                        option(value='3Shape' selected='') 3Shape
                        option(value='Exocad') Exocad
                      label.col-form-label(for='.message-text-checkout-designer') Designer Comments :
                      textarea#message-text-checkout-designer.form-control(required='' value='')
                  .modal-footer
                    #text-checkout-designer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#save-checkout-for-designer.btn.btn-primary(type='button') Checkout
            #checkout-for-finalqc.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
              .modal-dialog.modal-lg(role='document')
                .modal-content
                  .modal-header
                    h5#staticBackdropLabel.modal-title Checkout
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    #saveformtag.form-group
                      .form-row
                        .col
                          label.col-form-label(style="white-space:nowrap" for='rxfinal') Rx
                          select#rxfinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='marginfinal') Margin Line
                          select#marginfinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='qdirectionalfinal') Insertion Direction
                          select#qdirectionalfinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                      .form-row
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='contactfinal') Proximal Contact
                          select#contactfinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='occulsalfinal') Occlusal
                          select#occulsalfinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='shapefinal') Shape
                          select#shapefinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='sizefinal') Size
                          select#sizefinal.custom-select
                            option(value='Ok' selected='') Ok
                            option(value='Not Ok') Not Ok
                      br
                      hr(style="height:3px;background:#e0e0e0")      
                      .form-row    
                        .col    
                          label.col-form-label(style="white-space:nowrap" for='overallstatusfinal') Overall Status
                          select#overallstatusfinal.custom-select
                            option(value='', selected='', disabled='') Please select
                            option(value='Accepted') Accepted
                            option(value='Rejected') Rejected
                        .col
                          #assignedtoCheckout    
                            label.col-form-label(style="white-space:nowrap" for='assignedtofinal') Assigned to
                            select#assignedtofinal.custom-select
                              option(value='self' selected='') Self
                              option(value='designer') Designer
                      label.col-form-label(for='message-text-checkout-finalqc') QC Comments:
                      textarea#message-text-checkout-finalqc.form-control(required='' value='')
                  .modal-footer
                    #text-checkout-final
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#save-checkout-for-finalqc.btn.btn-primary(type='button') Checkout
          li#return-for-designer.list-item
            button#returnBut.button-checkout-padd.btn-Return.btn.btn-primary(type='button') Return
            #returnModal-designer.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
              .modal-dialog(role='document')
                .modal-content
                  .modal-header
                    h5#staticBackdropLabel.modal-title Return
                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                      span(aria-hidden='true') &times;
                  .modal-body
                    #saveformtag.form-group
                      label#holdreasonpart3.col-form-label(for='retReasonDes') Return Reason:
                      select#retReasonDes.custom-select
                      label.col-form-label(for='message-text') Return Remarks:
                      textarea#message-text.message-text-returnDes.form-control(required='' value='')
                  .modal-footer
                    #text-return-designer
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                    button#returnOrd.btn.btn-primary(type='button') Return          
      #editCaseDetails.modal.fade(data-backdrop='static' tabindex='-1' role='dialog' aria-labelledby='staticBackdropLabel' aria-hidden='true')
        .modal-dialog(role='document')
          .modal-content
            .modal-header
              h5#staticBackdropLabel.modal-title Case Details
              button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') &times;
            .modal-body
              .modal-data-source
              .modal-data-detailid
              form
                .form-row
                  .col
                    .form-group
                      label(for='designTypeEdit') Design Type
                      select#designTypeEdit.form-control(type='text' placeholder='Design Type')
                  .col
                    .form-group
                      label(for='notationsEdit') Notations
                      input#notationsEdit.form-control(type='text' placeholder='Notations')
                .form-row
                  .col
                    .form-group
                      label(for='productEdit') Product
                      select#productEdit.form-control(type='text' placeholder='Product')
                  .col
                    .form-group
                      label(for='modelEdit') Model
                      select#modelEdit.form-control(type='text' placeholder='Model')
                        option(value='Y' selected='') Y
                        option(value='N') N
                button#submitCaseDetails.btn.btn-primary(type='submit' style="padding:5px;margin:5px" data-dismiss='modal') Submit
                button#resetCaseDetails.btn.btn-primary(type='reset' style="padding:5px;margin:5px") Reset
      ul#mainContent.list-group.list-group-flush
        li.list-group-item.text-center
          form
            .row
              .col-xl-6.col-sm-12
                .form-group.mb-2
                  label.sr-only(for='caseno') ID :
                  input#caseno.form-control-plaintext.font-weight-bold.bold(type='text' readonly='' value='')
              .col-xl-6.col-sm-12
                .form-group.mb-2.d-flex
                  label.col-form-label.col-sm-4(for='receivedOn') Received on :
                  .col-sm-8
                    input#receivedOn.form-control-plaintext(type='text' value='' disabled='')
            .row
              .col-xl-6.col-sm-12
                .form-group.mb-2
                  label.sr-only(for='lab') ID :
                  input#lab.form-control-plaintext(type='text' readonly='' value='')
              .col-xl-6.col-sm-12
                .form-group.mb-2.d-flex
                  label.col-form-label.col-sm-4(for='lab') Due by :
                  .col-sm-8
                    input#dueby.form-control-plaintext(type='text' value='' disabled='')
            .row
              .col-xl-6.col-sm-12.d-flex
                .form-group.mb-2.d-flex
                  label.col-form-label.font-weight-bold.bold(for='status') Status:
                  .col-sm-12
                    input#status.form-control-plaintext(type='text' value='' readonly='')
              .col-xl-6.col-sm-12
                .form-group.mb-2.d-flex
                  label.col-form-label.col-sm-4(for='fileName') File Name :
                  .col-sm-8
                    input#fileName.form-control-plaintext(type='text' value='' disabled='')
          .container(style='margin: 20px 0px;')
            nav
              #nav-tab.nav.nav-tabs(role='tablist')
                a#nav-case-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-case' role='tab' aria-controls='nav-case' aria-selected='true') Case Details
                a#nav-files-tab.nav-item.nav-link(data-toggle='tab' href='#nav-files' role='tab' aria-controls='nav-files' aria-selected='false') Files
                a#nav-design-tab.nav-item.nav-link(data-toggle='tab' href='#nav-design' role='tab' aria-controls='nav-design' aria-selected='false') Design Preferences
                a#nav-message-tab.nav-item.nav-link(data-toggle='tab' href='#nav-message' role='tab' aria-controls='nav-message' aria-selected='false') Messages
              #nav-tabContent.tab-content
                #nav-case.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-case-tab')
                  #caseDetailsAdd
                  table.table.table-hover.table-bordered
                    thead.thead-light
                      tr
                        th(scope='col') S.No
                        th(scope='col') Design Type
                        th(scope='col') Notation
                        th(scope='col') Product
                        th(scope='col') Model
                        th(scope='col') Actions
                    tbody#caseDetails
                #nav-files.tab-pane.fade(role='tabpanel' aria-labelledby='nav-files-tab')
                  fieldset.border.p-2
                    legend.w-auto(align='left') Upload files
                    .row
                      .col-xl-5.col-sm-12
                        select.custom-select#filePost
                          option(value='' disabled selected) Select type
                          option#final-file-option(value='Final_Scan') Final Design
                          option#filetype-easysmile(value='Final_Smile') Final Smile
                          option#filetype-easyvalidate(value='Final_STL') Final STL
                          option(value='STL_File') STL Files
                          option(value='Quality_Image') Quality Images
                          option(value='Others') Other Attachments
                      .col-xl-5.col-sm-12
                        input#myFileAttachement(type="file")
                      .col-xl-2.col-sm-12                     
                        button#sendFileAttachement.btn.btn-success(type='button') 
                          span.spanTag Upload
                          #my-spinner.custom-spinner.display-none
                            span.custom-sr-only Loading...
                  .row.filestab-overflow
                    table.table.table-hover.table-bordered
                      thead.thead-light
                        tr
                          th(scope='col') S.No
                          th(scope='col') Type
                          th(scope='col') File Name
                          th(scope='col') Action
                      tbody#filesDetails
                #nav-design.tab-pane.fade(role='tabpanel' aria-labelledby='nav-design-tab')
                  .row.mt-3
                    .col-xl-4.col-sm-12.mb-3
                      .card(style='width: 18rem;height: 100px')
                        .card-header
                          | Custom
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despCustom  
                    .col-xl-4.col-sm-12.mb-3
                      .card(style='width: 18rem;')
                        .card-header
                          | Contact
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despContact 
                    .col-xl-4.col-sm-12.mb-3
                      .card(style='width: 18rem;')
                        .card-header
                          | Occlusition
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despOcclusition  
                    .col-xl-4.col-sm-12
                      .card(style='width: 18rem;')
                        .card-header
                          | Anatomy
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despAnatomy 
                    .col-xl-4.col-sm-12
                      .card(style='width: 18rem;')
                        .card-header
                          | Pontic
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despPontic   
                    .col-xl-4.col-sm-12
                      .card(style='width: 18rem;')
                        .card-header
                          | Liner Spacer
                        ul.list-group.list-group-flush.despListHeight
                          li.list-group-item#despLiner
                #nav-message.tab-pane.fade(role='tabpanel' aria-labelledby='nav-message-tab')
                  .mesgs
                    .msg_history.overflow-auto#scrollHeight
                    .type_msg
                      .input_msg_write
                        input.write_msg#myInput(type='text' placeholder='Type a message')
                        button.msg_send_btn#submitMessage(type='button')
                          i.fa.fa-paper-plane-o(aria-hidden='true')
                        input#myAttachment(type="file")
                        button#sendAttachmentIcon.msg_attachment_btn(type='button')
                          i.fa.fa-paperclip#sendAttachmentIcon(aria-hidden='true')
                        button#sendAttachmentIcon-spinner.msg_send_btn_spinner.display-none(type='button')
                          #my-spinner-message.custom-spinner-message
                            span.custom-sr-only-message Loading...
