extends layout
block header
	include header
block content
	section.main
		.row.newOrder
			include newOrder
			.col-xl-9.col-sm-12.details
				.container
					// Icon Cards
					include tabbutton
				include content
					script(src='js/jquery/jquery-3.2.1.min.js' crossorigin='anonymous')
					script(src='js/jquery/popper.min.js' crossorigin='anonymous')
					script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' crossorigin='anonymous')
					script(src='js/jquery/bootstrap.min.js' crossorigin='anonymous')
					script(src='js/content.v1.js' crossorigin='anonymous')
					script(src='js/widget.v1.js' crossorigin='anonymous')