extends layout

block header
  #notificationsModal.modal.fade.bd-example-modal-lg(tabindex='-1' role='dialog' aria-labelledby='notificationsModal' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Modal title
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  section.navigation
    nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
      a.navbar-brand.mr-1(href='index.html') EASY CONNECT
      //
        <button
        class="btn btn-link btn-sm text-white order-1 order-sm-0"
        id="sidebarToggle"
        href="#"
        >
        <i class="fas fa-bars"></i>
        </button>
      // Navbar Search
      form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0(autocomplete='off')
        select#searchBy.custom-select.searchBy
          option(value='Order No' selected='') Order No
          option(value='File Name') File Name
        .input-group.autocomplete(style='width:200px;')
          input#searchCase.searchBox.form-control(type='text' placeholder='search order number...' aria-label='Search' aria-describedby='basic-addon2')
        button#searchSubmit.btn.btn-primary(type='button') Search
      // Navbar
      ul.navbar-nav.ml-auto.ml-md-0
        li.nav-item.dropdown.no-arrow.mx-1
          a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-bell.fa-fw
            span.badge.badge-danger 9+
          .dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
            //- button.btn.btn-primary(type='button', data-toggle='modal', data-target='#notificationsModal') Notifications
            a.dropdown-item(type='button', data-toggle='modal', data-target='#notificationsModal') Notifications
            //- a.dropdown-item(href='#') Another action
            //- .dropdown-divider
            //- a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.no-arrow.mx-1
          a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-envelope.fa-fw
            span.badge.badge-danger 7
          .dropdown-menu.dropdown-menu-right(aria-labelledby='messagesDropdown')
            a.dropdown-item(href='#') In-mail
            //- a.dropdown-item(href='#') Another action
            //- .dropdown-divider
            //- a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.no-arrow
          a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-user-circle.fa-fw
          .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='#') Settings
            a.dropdown-item(href='#') Profile
            .dropdown-divider
            a.dropdown-item(href='/login') Logout