doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
    meta(http-equiv='Pragma' content='no-cache')
    meta(http-equiv='Expires' content='0')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' type='text/css' href='stylesheets/bootstrap.min.css' crossorigin='anonymous')
    link(rel='stylesheet' type='text/css' href='stylesheets/style.v1.css')
    script(src='js/jquery/font-awesome.js')
  body
    block header
    block content
