extends layout

block content
	main
	.container-fluid
		.row
			.col-sm-6.login-section-wrapper
				.brand-wrapper
					img.logo(src='image/logo1.png' alt='logo')
				.login-wrapper.my-auto
					h1.login-title Log in
					form(action='/app' method='POST')
						.form-group
							label(for='userName') Username
							input#userName.form-control(type='text' name='userName' placeholder='Username' value='' required autofocus)
						.form-group.mb-4
							label(for='passWord') Password
							input#password.form-control(type='password' name='passWord' placeholder='Enter your password' value='' required)
						input#login.btn.btn-block.login-btn(type='submit' value='Login')
					if errorMessage
						.alert.alert-danger(role='alert')
							| #{errorMessage}
					a.forgot-password-link(href='#!') Forgot password?
				//- p.login-wrapper-footer-text
				//- 	| Don&apos;t have an account?
				//- 	a.text-reset(href='#!') Register here
			.col-sm-6.px-0.d-none.d-sm-block
				img.login-img(src='image/login2.jpg' alt='login image')
			script(src='js/jquery/jquery-3.2.1.min.js' crossorigin='anonymous')
			script(src='js/jquery/popper.min.js' crossorigin='anonymous')
			script(src='js/jquery/bootstrap.min.js' crossorigin='anonymous')
			script(src='js/login.v1.js' crossorigin='anonymous')
