.col-xl-3.col-sm-12.align-self-center
  .container
    .row.mt-4
      .col-xl-12.col-md-6.col-sm-6.mb-3
        button#neworderbtn.btn.btn-outline-primary.btn-lg.btn-block.newOrder_button.o-hidden.h-100.p-5(type='button')
          i.fa.fa-plus.fa-3x
          br
          |               New Order
      #timerCurrent.col-xl-12.col-md-6.col-sm-6.mb-3
        .timecontainer.o-hidden.h-100
          p#ct
            | CURRENT TIME SPENT
          p#tym 00:00:00
          .playbtn
            input#timerbut.play(type='image', src='/image/play.png', onclick='toggle(this);')
          p
