.row.mt-3.widget
  //- .col-xl-3.col-sm-6.mb-3#widget1
  //-   .card.text-white.bg-primary.o-hidden.h-100
  //-     .card-body
  //-       .card-body-icon
  //-         //- i.fa.fa-fw.fa-comments
  //-       p#widget1n.bold.font-weight-bold.font_size 0
  //-       #widget1v
  //- .col-xl-3.col-sm-6.mb-3#widget2
  //-   .card.text-white.bg-warning.o-hidden.h-100
  //-     .card-body
  //-       .card-body-icon
  //-         //- i.fa.fa-fw.fa-list
  //-       p#widget2n.bold.font-weight-bold.font_size 0
  //-       #widget2v
  //- .col-xl-3.col-sm-6.mb-3#widget3
  //-   .card.text-white.bg-success.o-hidden.h-100
  //-     .card-body
  //-       .card-body-icon
  //-         //- i.fa.fa-fw.fa-shopping-cart
  //-       p#widget3n.bold.font-weight-bold.font_size 0
  //-       #widget3v
  //- .col-xl-3.col-sm-6.mb-3#widget4
  //-   .card.text-white.bg-danger.o-hidden.h-100
  //-     .card-body
  //-       .card-body-icon
  //-         //- i.fa.fa-fw.fa-life-ring
  //-       p#widget4n.bold.font-weight-bold.font_size 0
  //-       #widget4v